.alt_h1{
    display: flex;
    text-align: center;
    background-color: var(--gray);
    padding: .5rem .5rem .5rem .5rem;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-inline: 5rem;
    border-radius: .7rem;
    margin-top: 6rem;
}

.section_alt img{
    width: 30%;
    padding-left: 20rem;
}

.about_alt{
    border: .1rem solid;
    border-color: var(--white);
    border-radius: 1rem;
    margin-inline: 7rem;
    margin-top: 4rem;
    padding: 3rem;
    color: var(--white);
}

.about_alt h1{
    text-align: center;
    font: bolder;
}

.missions {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding-top: 5rem;
}

.support {
    flex: 1; 
    background-color: var(--gray);
    padding: 1.2rem;
    margin-right: .6rem; 
    margin-left: 5rem;
    border-radius: .7rem;
}

.rd {
    flex: 1; 
    background-color: var(--gray);
    padding: 1.2rem;
    margin-right: 5rem; 
    margin-left: .6rem;
    border-radius: .7rem;
}

h3 {
    font-size: x-large;
    padding-block: 3rem;
    text-align: center;
    
}

li{
    padding-block: 1rem;
    font-size: smaller;
    list-style-type: disc;
    margin-left: 2rem;
}

p{
    padding-block: 1rem;
    font-size: smaller;
}