.alt_h1{
    display: flex;
    text-align: center;
    background-color: var(--gray);
    padding: .5rem .5rem .5rem .5rem;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-inline: 5rem;
    border-radius: .7rem;
    margin-top: 6rem;
}

.section_alt img{
    width: 30%;
}

.missions{
    background-color: var(--gray);
    display: grid;
    
}
