.e5_h1{
    display: flex;
    text-align: center;
    background-color: var(--gray);
    padding: .5rem .5rem .5rem .5rem;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-inline: 5rem;
    border-radius: .7rem;
    margin-top: 6rem;
}

.final_project {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding-top: 5rem;
}

.java {
    flex: 1; 
    background-color: var(--gray);
    padding: 1.2rem;
    margin-right: .6rem; 
    margin-left: 5rem;
    border-radius: .7rem;
}

.web {
    flex: 1; 
    background-color: var(--gray);
    padding: 1.2rem;
    margin-right: 5rem; 
    margin-left: .6rem;
    border-radius: .7rem;
}

h3 {
    font-size: x-large;
    padding-block: 3rem;
    text-align: center;
    
}

h4{
    padding-block: 2rem;
    border: .1rem solid;
    border-color: var(--dark);
    border-radius: 1rem;
    background-color: var(--dark-gray);
    color: var(--white);
    text-align: center;
    font-size: larger;
}

li{
    font-size: smaller;
    list-style-type: disc;
    margin-left: 2rem;
}

.iteration{
    padding-block: 5rem;
    margin-inline: 5rem;
    line-height: 2.5;

}

.list_iteration{
    margin-left: 5rem;
}

.img_iteration{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-block: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.lien-git-e5{
    color: var(--dark);
    text-decoration: underline;
    text-decoration-color: var(--dark-gray);
    text-decoration-thickness: 1.5px;
    font-size: medium;
}

.lien-fiche{
    text-decoration: underline;
    text-decoration-color: var(--dark-gray);
    text-decoration-thickness: 1.5px;
    color: var(--dark);
}
p{
    padding-block: 1rem;
    font-size: smaller;
}