header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 12px #2B4A4Eff;
    background-color: var(--green);
}

.navbar {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-flex;
    font-size: inherit;
    justify-content: space-between;
}

.navbar a{
    margin: 0 5rem 0 5rem;
}

.button_mode{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: .7rem;
    border-radius: 5rem;
    background-color: white;
    box-shadow: 0px 5px 12px #414141;
    cursor: pointer;
}

.img {
    flex: 1;
    height: 100vh;
    background: url("../asset/fond_accueil.jpg")center / cover;
    z-index: -1;
    display: flex;
}

section h1, h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15% 60% 20% 8%;
}

.general_section{
    display: block;
    background-color: var(--green);
    height: 100vh;
    margin: auto;
    padding-top: 11rem;
}

section h2{
    text-align: center;
    background-color: #C3DED9ff;
    padding: .5rem .5rem .5rem .5rem;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-inline: 20rem;
    border-radius: .7rem;
}

.bg-tile{
    background-color: #fff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-inline: 20rem;
}

.gallery-primary{
    padding: 1rem 0;
    margin-inline: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    border-radius: 3rem;
    
}
section .gallery-primary img{
    width: 30%;
    padding: .5rem;
    margin-inline: 12rem;
    
}

footer{
    text-align: center;
    width: 100%;
    background-color: var(--green);
}