@import url(./reset.css);
@import url(./alternance.css);
@import url(./fiche_E5.css);
@import url(./projet_ecole.css);
@import url(./veille.css);

body{
    background-color: var(--green);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 12px #2B4A4Eff;
    background-color: var(--green);
}

.navbar {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-flex;
    font-size: inherit;
    justify-content: space-between;
}

.navbar a{
    margin: 0 5rem 0 5rem;
}

.button_mode{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: .7rem;
    border-radius: 5rem;
    background-color: white;
    box-shadow: 0px 5px 12px #414141;
    cursor: pointer;
}

.img {
    flex: 1;
    height: 100vh;
    background: url("../asset/fond_accueil.jpg")no-repeat fixed center center  / cover;
    z-index: -1;
    display: flex;
}

#name{
    color: var(--white);
}

section h1, h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15% 60% 20% 8%;
    font-size: 4rem;
}

.general_section{
    display: block;
    background-color: var(--green);
    margin: auto;
    padding-top: 5rem;
}

section h2{
    text-align: center;
    background-color: #C3DED9ff;
    padding: .5rem .5rem .5rem .5rem;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin-inline: 5rem;
    border-radius: .7rem;
}

.bg-tile{
    color: var(--white);
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-inline: 10rem;
}

.gallery-primary{
    padding: 1rem 0;
    margin-inline: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.gallery-primary img{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 40%;
    border-radius: 1rem;
    display: block;
    object-fit: cover;
}

.gallery-secondary{
    padding: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    place-items: center;
}

.gallery-secondary a{
    width: 350px;
    height: 225px;
    overflow: hidden;
}

.gallery-secondary img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.dsc-veille{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-inline: 10rem;
    color: var(--white);
}

.lien-dsc {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-inline: 10rem;
    text-align: center;
    font-size: large;
    text-decoration: underline;
    text-decoration-color: var(--dark-gray);
    text-decoration-thickness: 1.5px;
}

.items {
    text-align: center;
    justify-content: space-between;
}

.items img{
    padding: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-inline: 5rem;
    display: flexbox;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 3%;
}

footer p{
    color: var(--white);
    text-align: center;
    width: 100%;
    background-color: var(--green);
    line-height: 5.0rem;
}