header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    vertical-align: middle;
    box-shadow: 0px 5px 12px #414141;
}

.nav-bar {
    margin: auto 3rem 0 4rem;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-flex;
    font-size: inherit;
}

.title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: url("../asset/arriere_plan.jpg")center / cover;
    padding: 20px;
    font-size: 4rem;
    padding: 15% 60% 20% 8%;
}