
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
}

body{
    font: 1.6rem 'Roboto', sans-serif; /* 16px */
    margin: 0;
    letter-spacing: .1rem;
    line-height: 1.6;    
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

*{
	box-sizing: border-box;
}

::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,p,ol,ul,li,figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: var(--white);
}

button, input{
    padding: 0;
    background-color: inherit;
    border: 0;
    vertical-align: middle;
}

:root{
    /* mode light */
    --green: #48747c; /* fond clair */
    --dark-gray: #2b4a4e; /* bgc h4 */
    --gray: #d1e0de; /* bgc h2 */
    --green-2: #537e83; 
    --dark: #000000; /* texte */
    --white: #ffffff; /* texte */

    /* mode dark */
    --dark-bg: #1e1e1e;  /* Fond sombre */
    --dark-text: #e6e6e6; /* Texte */
    --dark-text-2: #e6e6e6; /* Texte */
    --dark-green: #48747c; /* Vert principal */
    --dark-green-2: #325056; /* Vert assombri */
    --dark-gray-1: #14282a; /* Gris foncé */
    --dark-gray-2: #c3ded9; /* Gris clair */
}
