@import url(./main.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
}

body{
    font: 1.6rem 'Roboto', sans-serif; /* 16px */
    margin: 0;
    letter-spacing: .1rem;
    line-height: 1.6;    
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

*{
	box-sizing: border-box;
}

::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,p,ol,ul,li,figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: var(--white);
}

button, input{
    padding: 0;
    background-color: inherit;
    border: 0;
    vertical-align: middle;
}

:root{
    /* mode dark */
    --green: rgb(72, 116, 124);
    --dark-gray: rgb(43, 74, 78);
    --gray: rgb(177, 206, 202);
    --green-2: rgb(83, 126, 131);
    --dark: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);

    /* mode light */

}
