@import url(./main.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
}

body{
    font: 1.6rem 'Roboto', sans-serif; /* 16px */
    margin: 0;
    letter-spacing: .1rem;
    line-height: 1.6;    
    background-color: var(--dark-theme);
    color: var(--dark-police);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

*{
	box-sizing: border-box;
}

::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,p,ol,ul,li,figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: var(--dark-police);
}

button, input{
    padding: 0;
    background-color: inherit;
    border: 0;
    vertical-align: middle;
}

:root{
    /* mode light */
    --orange: #D66835;
    --white: #EDE6E3;
    --grey: #DADAD9;
    --dark_green: #36382E;

    /* mode dark */
    --dark_orange: #8A3F1E;
    --black: #1D1D1B;
    --dark_grey: #6A6A68;
    --light_green: #6B7059;
}